{% comment %}
Logo en titel van de website.
{% endcomment %}
<div class="logo-container">
  <img src="{{ site.baseurl }}/assets/logo.png" alt="Next Chapter: Squad Logo">
  <h1>Next Chapter: Squad</h1>
</div>

<section class="latest-books-section">
  <h2 class="text">
    <span class="letter letter-1">S</span>
    <span class="letter letter-2">Q</span>
    <span class="letter letter-3">U</span>
    <span class="letter letter-4">A</span>
    <span class="letter letter-5">D</span>
    <span class="letter letter-6"></span>
    <span class="letter letter-7">1</span>
    <span class="letter letter-8">G</span>
  </h2>
</section>