<div class="genre-filter-menu-sidebar">
  <p>Genres</p>
  <a href="/action" class="button">Action</a>
  <a href="/thriller" class="button">Thriller</a>
  <a href="/comedy" class="button">Comedy</a>
  <a href="/drama" class="button">Drama</a>
</div>

<main class="main-content">

  <form class="genre-filter-menu-dropdown">
    <select name="book-genres" id="genres">
      <option value="Genres">Genres</option>
      <option value="Triller">Triller</option>
      <option value="Action">Action</option>
      <option value="Horror">Horror</option>
      <option value="Comedy">Comedy</option>
    </select>
  </form>


  <section class="students-list">
    {% render 'partials/images.liquid', persons: persons %}
  </section>

</main>


<style>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10em 1fr 1fr;
    grid-template-rows: 10em 1fr 10em;
    /* background-color: #00eccb; */

  }


  header {
    background-color: #050344;
    grid-column: 1 / 4;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 700px) {
      grid-column: 2 / 4;
      grid-row: 1;
      border-radius: 0 0 0 20px;
      margin-left: 1em;
    }
  }

  .genre-filter-menu-sidebar {
    background-color: #050344;
    color: #00eccb;
    display: none;

    @media (min-width: 700px) {
      display: block;
      grid-column: 1;
      grid-row: 1 / 4;
      display: flex;
      flex-direction: column;
      padding-left: 1.5em;
      padding-top: 1.5em;
      gap: 1em;
    }
  }

  main {
    /* background: #00eccb; */

    grid-row: 2 / 4;
    grid-column: 1 / 4;

    @media (min-width: 700px) {
      grid-row: 2 / 4;
      grid-column: 2 / 4;
    }
  }

  .genre-filter-menu-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;

    select {
      padding: 10px;
      border: 2px solid #a675f5;
      border-radius: 7px;
      background-color: #a675f5;
      font-size: 16px;
      cursor: pointer;
      transition: border-color 0.3s;
      text-align: center;
      font-size: larger;
      font-weight: 800;
      color: white;
      letter-spacing: 3px;
    }

    @media (min-width: 700px) {
      display: none;
    }
  }


  /*
   .card-container {
   padding-top: 2em;
   padding-left: 2em;
   padding-right: 2em;
   padding-bottom: 2em;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
   justify-content: center;
   align-items: center;
   gap: 2em;

   @media (min-width: 500px) {
   grid-template-columns: repeat(2, 1fr);
   }

   @media (min-width: 1000px) {
   grid-template-columns: repeat(3, 1fr);
   }
   }

   figure img {
   height: 20em;
   width: 15em;
   }
*/

</style>