<section class="genre-filter-menu-sidebar">
  <h2 class="genre-filter-title">Genres</h2>

  <a href="/action" class="button">
    <svg width="15px" height="15px" viewBox="-415 217 128 128" fill="currentColor" stroke="currentColor" stroke-width="1" xmlns="http://www.w3.org/2000/svg">
      <path d="M-290.1,320.7l-16.8-56.6h12.4v-18.4c0-7.4-5.5-12.9-12.9-12.9h-106v17.6h33.8c1.8,0,2.8,0.9,3.7,1.8l11.1,10.2
        c1.8,0.9,3.7,1.8,5.5,1.8h7.3c2.4,11.2,11.9,20.3,25.2,25l11.8,38c0.9,2.8,3.7,4.6,6.5,3.7l14.8-3.7
        C-291,326.3-289.2,323.5-290.1,320.7z M-346.8,264.2h13.1c0,0.3,0.1,0.6,0.2,0.9l4.8,17.9C-337.8,278.8-344.5,272.1-346.8,264.2z"/>
    </svg>
    Action
  </a>

  <a href="/thriller" class="button">
    <svg width="30" height="31" viewBox="0 0 30 31" fill="currentColor" stroke="currentColor" stroke-width="1" xmlns="http://www.w3.org/2000/svg">
      <path d="M28.5948 0.503086L10.3849 17.7189L0.743786 27.0147L4.62195 30.3759C5.71951 29.0777 9.16922 25.3547 14.1876 20.8479C17.985 25.5192 33.3084 4.87655 28.5948 0.503086Z"/>
    </svg>
    Thriller
  </a>

  <a href="/comedy" class="button">
    <svg width="30px" height="30px" viewBox="0 0 612 612" fill="currentColor" stroke="currentColor" stroke-width="10" xmlns="http://www.w3.org/2000/svg">
      <g>
        <g>
          <path d="M431.043,168.32c-11.344-4.085-22.359-8.286-32.978-12.525c-3.959,86.05-7.085,135.038-32.136,181.489
            c-6.146,11.383-13.318,22.263-22.03,33.403c4.298,1.007,8.625,2.265,12.951,3.823c41.157,14.81,66.372,49.481,56.315,77.436
            l-107.984-38.863c-11.703,11.489-25.108,23.908-40.566,37.808c11.141,20.792,24.14,44.245,39.144,71.222l0.048-0.116
            C540.295,429.587,520.229,434.756,612,216.078C612,216.088,527.75,203.118,431.043,168.32z M427.133,291.975
            c0,0,26.58-29.077,49.791-32.291c23.211-3.204,50.808,10.55,47.022,30.335C512.989,347.215,427.133,291.975,427.133,291.975z"/>
          <path d="M372.89,89.888c0,0-83.669,16.329-186.445,16.329S0,89.946,0,89.946c12.312,236.835-4.82,225.24,186.474,392.258
            l0.01-0.126C377.71,315.069,360.577,326.724,372.89,89.888z M260.541,176.645c20.753-10.88,51.378-7.279,54.514,12.622
            c9.07,57.515-90.435,34.614-90.435,34.614S239.788,187.524,260.541,176.645z M57.825,189.276
            c3.136-19.911,33.762-23.501,54.515-12.622c20.752,10.879,35.92,47.235,35.92,47.235S48.765,246.791,57.825,189.276z
            M186.445,379.128c-43.741,0-79.207-24.082-79.207-53.798h158.413C265.651,355.046,230.186,379.128,186.445,379.128z"/>
        </g>
      </g>
    </svg>
    Comedy
  </a>

  <a href="/drama" class="button">
    <svg width="30px" height="30px" viewBox="0 0 32 32" fill="currentColor" stroke="currentColor" stroke-width="1.5" xmlns="http://www.w3.org/2000/svg">
      <title>broken-heart</title>
      <path d="M23.304 1.591c-2.089-0.004-4.219 0.839-5.893 2.693l2.322 9.057-2.086 0.002 2.205 8.242-7.283-11.754 3.122 0.335-3.056-7.215c-5.121-3.042-12.339-0.432-12.105 6.916 0.275 8.638 11.93 11.519 15.438 20.693 3.705-9.175 15.678-11.502 15.391-20.693-0.16-5.119-4.031-8.27-8.055-8.277v0z"></path>
    </svg>
    Drama
  </a>
</section>



<main class="main-content">

  <form aria-label="choose a genre" class="genre-filter-menu-dropdown">
    <select
      name="genre"
      id="genres"
      onchange="if(this.value) window.location.href=this.value;">
      <option value="">Genre</option>
      <option value="/thriller">Thriller</option>
      <option value="/action">Action</option>
      <option value="/comedy">Comedy</option>
      <option value="/drama">Drama</option>
    </select>
  </form>


  <section class="card-container">
    {% render 'partials/images.liquid', persons: persons %}
  </section>

</main>


<style>

 * {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 10em 1fr 1fr;
  grid-template-rows: 10em 1fr;
  font-family: var(--main-font-family);

}

/* Header */
header {
  background-color: var(--header-bg-color);
  grid-column: 1 / 4;
  grid-row: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 700px) {
    grid-column: 2 / 4;
    grid-row: 1;
    border-radius: 0 0 0 1.25em;
    margin-left: 1em;
  }
}

/* Main content */
main {
  grid-row: 2 / 4;
  grid-column: 1 / 4;

  @media (min-width: 700px) {
    grid-row: 2 / 4;
    grid-column: 2 / 4;
  }
}

/* Sidebar voor filter */
.genre-filter-menu-sidebar {
  background-color: var(--filter-bg-color);
  color: var(--primary-text-color);
  display: none;

  @media (min-width: 700px) {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1 / 4;
    padding-left: 0.5em;
    padding-top: 10em;
    gap: 0.5em;
  }
}

/* Sidebar filter title */
.genre-filter-title {
  text-align: center;
  padding: 0.5em;
  margin: 2em 0.625em;
  border: 0.125em solid var(--primary-accent-color);
  border-radius: var(--border-radius-m);
  background-color: var(--button-bg-color);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight);
  color: var(--secundary-text-color);
}

/* Buttons in sidebar voor filteren */
.button {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5em;
  background-color: var(--filter-bg-color);
  color: var(--primary-text-color);
  text-decoration: none;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-s);
  padding: 0.5em;
  margin: 0 0.625em;
  cursor: var(--cursor-pointer);
  text-align: center;
  font-weight: var(--font-weight);
}

.button svg {
  width: 0.9375em;
  height: auto;
}

.button:hover {
  background-color: var(--primary-accent-color);
}

/* Active Button State */
.button.active {
  background-color: var(--secundaire-accent-color);
  color: var(--tertiary-text-color);
  font-weight: var(--font-weight);
}

.button.active svg {
  stroke: var(--tertiary-text-color);
  fill: var(--tertiary-text-color);
}


/* Genre Dropdown voor kleinere schermen */
.genre-filter-menu-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;

  select {
    padding: 0.625em;
    border: 0.125em solid var(--primary-accent-color:);
    border-radius: var(--border-radius-m);
    background-color: var(--button-bg-color);
    font-size: var( --font-size-l);
    font-weight: var( --font-weight);
    color: var(--secundary-text-color);
    letter-spacing: 3px;
    cursor: var(--cursor-pointer);
    text-align: center;
  }

  @media (min-width: 700px) {
    display: none;
  }
}

/* Card Grid Layout */
.card-container {
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  place-items: center;
  row-gap: 2em;


  @media (min-width: 500px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

</style>


<script>

   const buttons = document.querySelectorAll(".button");

    buttons.forEach(button => {
        button.classList.toggle("active", button.href === window.location.href);

        button.addEventListener("click", () => {
            document.querySelector(".button.active").classList.remove("active");
            button.classList.add("active");
        });
    });

</script>