<section class="genre-filter-menu-sidebar">
  <h2>Genres</h2>

  <a href="/action" class="filter-button">
    Action
    <img
      src="/assets/Vector 7.svg"
      style="color: #050344;"
      alt="Icon">
  </a>

  <a href="/thriller" class="button">Thriller</a>
  <a href="/comedy" class="button">Comedy</a>
  <a href="/drama" class="button">Drama</a>
</section>

<main class="main-content">

  <form class="genre-filter-menu-dropdown">
    <select
      name="genre"
      id="genres"
      onchange="if(this.value) window.location.href=this.value;">
      <option value="">Genre</option>
      <option value="/thriller">Thriller</option>
      <option value="/action">Action</option>
      <option value="/comedy">Comedy</option>
      <option value="/drama">Drama</option>
    </select>
  </form>


  <section class="card-container">
    {% render 'partials/images.liquid'
     , persons: persons %}
  </section>

</main>


<style>
  * {
    margin: 0;
    padding: 0;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 10em 1fr 1fr;
    grid-template-rows: 10em 1fr 10em;
    /* background-color: #00eccb; */

  }


  header {
    background-color: #050344;
    grid-column: 1 / 4;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width: 700px) {
      grid-column: 2 / 4;
      grid-row: 1;
      border-radius: 0 0 0 20px;
      margin-left: 1em;
    }
  }

  .genre-filter-menu-sidebar {
    background-color: #050344;
    color: #00eccb;
    display: none;

    @media(min-width: 700px) {
      display: block;
      grid-column: 1;
      grid-row: 1 / 4;
      display: flex;
      flex-direction: column;
      padding-left: 0.5em;
      padding-top: 10em;
      gap: 0.5em;
    }
  }

  main {
    /* background: #00eccb; */

    grid-row: 2 / 4;
    grid-column: 1 / 4;

    @media(min-width: 700px) {
      grid-row: 2 / 4;
      grid-column: 2 / 4;
    }
  }

  .genre-filter-menu-dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;

    select {
      padding: 10px;
      border: 2px solid #a675f5;
      border-radius: 7px;
      background-color: #a675f5;
      font-size: 16px;
      cursor: pointer;
      transition: border-color 0.3s;
      text-align: center;
      font-size: larger;
      font-weight: 800;
      color: white;
      letter-spacing: 3px;
    }

    @media(min-width: 700px) {
      display: none;
    }
  }


  .card-container {
    padding-top: 20%;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    place-items: center;
    gap: 5em;

    @media(min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 900px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

  }


  .genre-filter-menu-sidebar .button {
    text-decoration: none;
    background: #00eccb;
    color: #050344;
    padding: 0.5em;
    border-radius: 8px;
    text-align: left;
    margin: 0 1em;
  }

  .filter-button {
    display: flex;
    background-color: #00eccb;
  }
</style>