
{%for message in messages%}
    <article>
        <p>{{ messages}}</p>
        <form action=""><img src="/assets/icon-heart.svg" alt=""></form>
    </article>
{%endfor%}

<div>
    <button><img src="/assets/icon-cross.svg" alt=""></button>

<form method="post" action="/chat">
<label>Deel het beste boek
    <input type="text" name="post" required>
</label>
<button type="submit">Post</button>
</form>

</div>