{% render 'partials/head.liquid', title: 'Squad page' %}

{% for message in messages %}
    {% comment %} <article> {% endcomment %}
        <p>{{message}}</p>
        {% comment %} <form action=""><img src="/assets/icon-heart.svg" alt=""></form> {% endcomment %}
    {% comment %} </article> {% endcomment %}
{% endfor %}

<button popovertarget="popover-chatbox" class="chat-messages-button-desktop"><img class="messages-desktop" src="/assets/messages-svgrepo-com.svg" alt="chat"></button>

<div popover class="chatbox" id="popover-chatbox">
    <button class="close-button" popovertarget="popover-chatbox" popovertargetaction="hide"><img class="cross-img" src="/assets/icon-cross.svg" alt="cross"></button>

    <form class="chat" method="post" action="/chat">
        <label for="post">Deel het beste boek</label>

        <p>
            <input id="post" class="messages-post" type="text" name="post" required>
            <button class="post-button" type="submit">Post</button>
        </p>
    </form>
</div>

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: var(--main-font-family);
    }

    .close-button{
        width: 3em;
        height: 3em;
        display: flex;
        justify-self: end;
        background: none;
        margin-right: .5em;
    }

    .cross-img{
        width: 3em;
        height: 3em;
        margin-top: .5em;
    }

    .chatbox{
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--chatbox-bg-color);
        width: 100vw;
        height: 100vh;
        min-height: 100vh;
    }

    .chat {
        margin-left: 1.5em;
        margin-right: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    @media screen and (min-width:500px){
        .chatbox{
            width: 40%;
            height: calc(100vh - 2rem);
            min-height: calc(100vh - 2rem);
            left: auto;
            right: 1rem;
            top: 10rem;
            border-radius: var(--border-radius-l);
        }
    }

    @media screen and (min-width:500px){
        .chatbox{
            width: 30%;
        }
    }

    .messages-post{
        height: 3em;
        width: 100%;
        border: none;
        padding: 0 1em;
    }

    .post-button{
        flex-shrink: 0;
        background-color: var(--button-bg-color);
        height: 3em;
        width: 5em;
        border-radius: 0 var(--border-radius-l) var(--border-radius-l) 0;
    }

    label{
        font-size: var(--font-size-h3);
        color: var(--secundary-text-color);
        display: flex;
        flex-direction: column;
        align-items: center;    
        gap:.5em;
        padding-top: 1em;
    }

    form p {
        display: flex;
        background: white;
        border-radius: var(--border-radius-l);
        overflow: hidden;
    }

    .chat-messages-button-desktop{
        width: 4.5em;
        height: 4.5em;
        background-color: var( --button-bg-color);
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        border-radius: var( --border-radius-m);
    }

    .messages-desktop{
        width: 3em;
        height: 3em;
        margin-top: .5em;
    }
</style>