body {
  --padding-sections: 1em 1em;

  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

button {
  border: none;
}

h1 {
  font-size: smaller;
  color: #fff;
  font-weight: 500;
}

h2 {
  font-size: large;
  color: #fff;
  font-weight: 300;
}

figcaption {
  font-size: x-small;
  color: #fff;
}

.color-name {
  font-size: smaller;
  color: #fff;
  font-weight: 200;
}
