/* Liberty font */
@font-face {
  font-family: "Liberty";
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/907368/liberty.otf');
}

/* Inter font */
@font-face {
  font-family: "Inter", sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
}

/* Nova Round font */
@font-face {
  font-family: "Nova Round", system-ui;
  src: url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap" rel="stylesheet');
}

body {
  /* COLOR */
  --main-bg-color: #01ECCB; 
  --header-bg-color: #050344;
  --filter-bg-color: #050344;
  --chatbox-bg-color: #2F2AB0;

  --primary-text-color: #01ECCB;
  --secundary-text-color: #FFFFFF;
  --tertiary-text-color: #050344;

  --button-color: #FFFFFF;
  --button-bg-color: #A675F5;

  --primary-accent-color: #A675F5;
  --secundaire-accent-color: #01ECCB;

  /* FONTS */
  --heading-font:'Liberty', sans-serif;
  --main-font-family: "Nova Round", system-ui;
  --paragraph-font-family: 'Pridi', sans-serif;

  --font-size-h1: 3.25rem; 
  --font-size-h2: 2.625rem; 
  --font-size-h3: 1.875rem; 

  --font-size-s: 1rem; 
  --font-size-m: 1.5rem;
  --font-size-l: 1.75rem; 


  --font-weight: 400;
  --line-height: 1.8em;

  /* BORDER-RADIUS */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;

  /* Z-INDEX */
  --z-index-header: 1;
  --z-index-filter: 3;
  --z-index-chatbox: 5;

  /* BUTTON */
  --cursor-pointer: pointer;
  --border-radius-btn: 16px;
  --border-btn: none;
}

p {
  font-family: var(--paragraph-font-family);
}

button {
  border: none;
  font-family: var(--paragraph-font-family);
  font-size:var(--font-size-s);
}

input, textarea{
  font-size:var(--font-size-s);
}

h1 {
  font-size: smaller;
  color: #fff;
  font-weight: 500;
}

h2 {
  font-size: large;
  color: #fff;
  font-weight: 300;
}

figcaption {
  font-size: x-small;
  color: #fff;
}

.color-name {
  font-size: smaller;
  color: #fff;
  font-weight: 200;
}
