body {
  /* COLOR */
  --main-bg-color: #01ECCB; 
  --header-bg-color: #050344;
  --filter-bg-color: #050344;
  --chatbox-bg-color: #A675F5;

  --primary-text-color: #01ECCB;
  --secundary-text-color: #FFFFFF;
  --tertiary-text-color: #050344;

  --button-color: #FFFFFF;
  --button-bg-color: #A675F5;

  --primary-accent-color: #A675F5;
  --secundaire-accent-color: #01ECCB;

  /* FONTS */
  --heading-font:’’, ;
  --main-font-family:’Potta One’, sans serif;
  --paragraph-font-family: ‘Pridi’, sans serif;

  --font-size-h1: 3.25rem; 
  --font-size-h2: 2.625rem; 
  --font-size-h3: 1.875rem; 

  --font-size-s: 1rem; 
  --font-size-m: 1.5rem;
  --font-size-l: 1.75rem; 


  --font-weight: 400;
  --line-height: 1.8em;

  /* BORDER-RADIUS */
  --border-radius-s: 4px;
  --border-radius-m: 8px;
  --border-radius-l: 16px;

  /* Z-INDEX */
  --z-index-header: 1;
  --z-index-filter: 3;
  --z-index-chatbox: 5;

  /* BUTTON */
  --cursor-pointer: pointer;
  --border-radius-btn: 16px;
  --border-btn: none;
}

button {
  border: none;
}

h1 {
  font-size: smaller;
  color: #fff;
  font-weight: 500;
}

h2 {
  font-size: large;
  color: #fff;
  font-weight: 300;
}

figcaption {
  font-size: x-small;
  color: #fff;
}

.color-name {
  font-size: smaller;
  color: #fff;
  font-weight: 200;
}
